*{
    font-family: sans-serif;
}
.duration-300{
    transition-duration: 300ms;
}
.duration-150{
    transition-duration: 150ms;
}
.fix{
    position: fixed;
    /* margin-bottom: 160px; */
    margin-top: 0;
    top: 0;
    z-index: 1;
    background-color: #fff;
}
.ab{
    position: absolute;
    top: 190px;
    margin-top: 10px;
}
.nev1{
    width: auto;
    height: 80px;
    margin: 0;
    /* padding:9px; */
    /* box-sizing: border-box; */
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
}
.logo{
    color: rgb(255, 56, 92);
    font-size: 40px;
}
/* .brand{
    display: inline-block;
} */
.brand-name{
    position: absolute;
    left: 105px;
    top: 2px;
}
.airbnb{
    color: rgb(255, 56, 92);
    font-size:25px;
    font-weight: bold;
    font-family:sans-serif;
}
.brand{
    /* border: 1px solid black;
    width: 100px;
    height: 30px; */
    margin: 20px;
    box-sizing: border-box;
    display: inline-block;
    /* position: absolute; */
}
.search{
    border: 1px solid transparent;
    height: 45px;
    width: 400px;
    /* margin-left: 400px; */
    top: 16px;
    left: 750px;
    box-sizing: border-box;
    text-align: center;
    /* padding-top: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.search:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.item{
    display: inline-block;
}
.a-tag{
    text-decoration: none;
    color: black;
    text-align: center;
    display: inline-block;
    margin-top: 13px;
}
.item:nth-child(1){
    margin-left: 35px;
}
.add{
    color: rgb(122, 122, 122);
}
.search-img{
    border: 1px solid transparent;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: rgb(255, 56, 92);
}
.glass{
    place-items: center;
    font-size: 15px;
    margin-top: 7px;
    color: white;
}
.airbnb-btn{
    position: absolute;
    right: 210px;
    border: 1px solid transparent;
    width: 150px;
    height: 40px;
    top: 20px;
    border-radius: 20px;
    background-color: white;
}
.airbnb-btn:hover{
    background-color: #f1f1f1;
}
.world{
    position: absolute;
    right: 160px;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
    top: 20px;
    border-radius: 20px;
    background-color: white;
}
.world:hover{
    background-color: #f1f1f1;
}
.globe{
    font-size: 15px;
}
.pf{
    width: 90px;
    height: 44px;
    border: 1px solid transparent;
    position: absolute;
    right: 50px;
    top: 16px;
    border-radius: 22px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-evenly;
    /* padding-top: 5px; */
    /* position: relative; */
}
.pf:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.bar{
    font-size: 20px;
    margin-top: 11px;
}
.user{
    font-size: 20px;
    margin-top: 11px;
}

/* --------------------------------------------------------- */

.nev2{
    border: 1px solid transparent;
    width: auto;
    height: 95px;
    margin: 0;
    /* padding:9px; */
    box-sizing: border-box;
    position: relative;
    padding: 0px 50px 0px 50px;
    display: flex;
}
.img-btn{
    border: 1px solid transparent;
    padding-top: 15px;
    height:80px;
    width: 100px;
    box-sizing: border-box;
    place-items: center;
    display: grid;
    gap: 5px;
    color: rgb(113, 113, 113);
    /* padding: 0px auto 0px auto; */
}
.img-btn:hover{
    /* box-shadow:rgba(0, 0, 0, 0.35) -5px 0px 0px 0px inset; */
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.icon{
    width: 24px;
    height: 24px;
    color: rgb(113, 113, 113);
    text-decoration: none;
    /* background-color: rgb(113, 113, 113); */
}
.icon-p{
    color: rgb(113, 113, 113);
    font-size: 12px;
    margin-top: 0;
}
.img-btn:hover .icon-p{
    color: black;
}

/* ========================================================== */

.box{
    width: auto;
    padding: 0px 70px 0px 70px;
    display: grid;
    margin-top: 10px;
    grid-template-columns: auto auto auto auto auto auto;
    column-gap: 15px;
    row-gap: 10px;
    grid-auto-flow: dense;
    /* position: relative; */
}
.card{
    width: 280px;
    height: 390px;
    border: 1px solid transparent;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
.card-img{
    width: 280px;
    height: 290px;
    background-origin: content-box;
    object-fit: cover;
    object-position: right;
    border-radius: 20px;
    transition-duration: 200ms;
}
.card-img:hover{
    transform: scale(0.95);
}
.heart{
    top: 10px;
    right: 20px;
    position: absolute;
    background-color: transparent;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.473);
}
.p1{
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
}
.p2{
    margin-top: 2px;
    color:rgb(122, 122, 122) ;
    margin-bottom: 0;
    font-size: 14px;
}
.p-final{
    margin-top: 14px;
    text-decoration: underline;
}
.bold{
    font-weight: bold;

}